/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Mr+Dafoe&family=Nova+Mono&family=Poller+One&display=swap');

:root {
    --primary-text-color: #FFE971;
}

h1 {
   font-family: "Poller One", serif;
   color: var(--primary-text-color);
}
h2 {
    font-family: "Monofett", monospace;
    color: var(--primary-text-color);
}

h3 {
    font-family: font-family: "Mr Dafoe", cursive;
    color: var(--primary-text-color);
}

h4 {
    font-family: "Nova Mono", monospace;
    color: var(--primary-text-color);
}

body {
    background-image: url(MacBook\ Air\ -\ 3.jpg);
}